<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
	      point="net.jazz.ajax.webBundles">
	</extension>
	<extension
	      point="com.ibm.team.workitem.web.editorToolbarAction">
	      <action
             action="com.siemens.bt.jazz.workitemeditor.createchild.ui.CreateChildAction"
             iconContext="com.siemens.bt.jazz.workitemeditor.createchild"
             iconUri="images/icons/child_item.png"
             id="createchild.action"
             isMenuAction="true"	
             label="Create child work item">
	      </action>
	</extension>
	
	<!-- bind javascript modules to css files for BT AddOns -->
	<extension point="net.jazz.ajax.cssBindingSets">
		<cssBindingSet id="com.siemens.bt.jazz.workitemeditor.createchild" path="">
            <!-- bindings used in all modules -->		
        	<cssBinding jsModule="com.siemens.bt.jazz.workitemeditor.createchild.ui.CreateChildAction">
                <cssModule path="/ui/widget/css/widget.css"/>
            </cssBinding>
        </cssBindingSet>  
    </extension>
</plugin>
