<div>
    <div class="create-child-widget">
        <header>
            <h3>
                Create Work Item Child
                <a class="quick-create">Quick</a>
            </h3>
        </header>
        <div class="selection">
            <form>
                <fieldset>
                    <legend>Select the attributes to include</legend>
                    <label>
                        <input type="checkbox" value="summary"/>
                        <span>Summary</span>
                    </label>
                </fieldset>
            </form>
        </div>
    </div>
</div>