<div>
    <div class="create-child-widget">
        <header>
            <h3>
                Create Child Work Item
                <a class="quick-create">Quick</a>
            </h3>
        </header>
        <div class="selection">
            <form>
                <fieldset>
                    <legend>Details</legend>
                    <div class="dropdown">
                        <label>
                            <span>Work Item Type:</span>
                            <select class="workitems">
                            </select>
                        </label>
                    </div>

                    <div class="dropdown linktype">
                        <label>
                            <span>Link Type:</span>
                            <select class="linktypes">
                                <option value="defect">Duplicated By</option>
                                <option value="defect">Duplicate Of</option>
                                <option value="defect">Blocks</option>
                                <option value="defect">Depends On</option>
                                <option value="defect">Related</option>
                                <option value="defect">Parent</option>
                                <option value="defect">Child</option>
                                <option value="defect">Resolves</option>
                            </select>
                        </label>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="selection">
            <form>
                <fieldset>
                    <legend>Select the attributes to include</legend>
                    <label>
                        <input type="checkbox" value="summary"/>
                        <span>Summary</span>
                    </label>
                </fieldset>
            </form>
        </div>
    </div>
</div>
